* text=auto

**/*.tpl text eol=lf
**/*.php text eol=lf

/.git* export-ignore
/.npmrc export-ignore
/*.sublime-* export-ignore
/*.json export-ignore
/*.zip export-ignore
/*.inf export-ignore
/*.ini export-ignore
/*.ico export-ignore
/*.js export-ignore
/*.md export-ignore
/LICENSE export-ignore
